/*
 * style sheet for the JacksorBetter project
 * Author: Toby Ziegler
 * Author url: http://tobyziegler.com
 */

 body {
  font-family: Verdana, Tahoma, Geneva, sans-serif;
  background: #008a00;
  background: radial-gradient(circle at center, #008a00 0%, #008a00 50%, #005700 85%, #002400 100%);
  background-size: cover;
  background-attachment: fixed;
}


.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: bolder;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
