<!-- info bar -->
<div class="container">
  <strong class="alert alert-warning">Bet: {{ bet.amount }}</strong>
  <strong class="alert alert-warning">This win</strong>
  <strong class="alert alert-warning">Total winnings</strong>

</div>
<!-- button bar -->
<div class="container">
  <button type="button" class="btn btn-info btn-lg" ng-click="bet.onemore()">
    <strong>Bet One</strong>
  </button>
  <button type="button" class="btn btn-primary btn-lg" ng-click="bet.max()">
    <strong>Bet Max</strong>
  </button>
  <button type="button" class="btn btn-success btn-lg" ng-disabled="!bet.amount == 0" ng-click="hand.deal()">
    <strong>Deal</strong>
  </button>
</div>
</div>