<!-- basic 5 card layout to begin, DRY optimize later -->
<div class="row" ng-if="game.started">
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="" alt="Card image">
      <div class="card-body">
        <button type="button" class="btn btn-success" ng-click="card.keep()">Keep</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="" alt="Card image">
      <div class="card-body">
        <button type="button" class="btn btn-success" ng-click="card.keep()">Keep</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="" alt="Card image">
      <div class="card-body">
        <button type="button" class="btn btn-success" ng-click="card.keep()">Keep</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="" alt="Card image">
      <div class="card-body">
        <button type="button" class="btn btn-success" ng-click="card.keep()">Keep</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="" alt="Card image">
      <div class="card-body">
        <button type="button" class="btn btn-success" ng-click="card.keep()">Keep</button>
      </div>
    </div>
  </div>
</div>
<!-- deck test -->
<div class="row" ng-controller="DeckController as deck">
  <div class="col">
    <p>
      <button type="button" class="btn btn-primary" ng-click="deck.newDeck()">New Deck</button>
    </p>
    <p>Deck Test: {{ deck.length }} cards</p>

    <div ng-repeat="card in deck">
      <p>Name: {{ card.fullname }}</p>
    </div>
  </div>

  <!-- this code works -->
  <!-- <div ng-repeat="card in deck">
    <p>Type: {{ card.type }}, Model: {{ card.model }}, Color: {{ card.color }}</p>
  </div> -->
</div>