<!-- basic 5 card layout to begin, DRY optimize later -->
<div ng-controller="DeckController">
  <div class="row m-xs-1 m-sm-2 m-lg-5">
    <div class="col" ng-repeat="card in deck.hand">
      <div id="Card01" class="card">
        <img ng-if="!game.started || !card.keep" class="card-img-top" ng-src="img/svgcards/back.svg" alt="Playing Card">
        <img ng-if="game.started && card.keep" class="card-img-top" ng-src="img/svgcards/{{ card.pathname }}" alt="{{ card.fullname }}">
        <div class="card-body">
          <button ng-if="game.started" type="button" class="btn btn-primary btn-block px-sm-3 px-lg-5" ng-click="card.keep = !card.keep">
            <span ng-show="card.keep">Throw</span>
            <span ng-show="!card.keep">Keep</span>
          </button>
        </div>
      </div>
    </div>

    <div class="container" ng-if="game.started">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-danger btn-lg btn-block" ng-disabled="bet.amount == 0" ng-click="deck.deal()">
            <strong ng-if="deck.hand.fresh">Deal</strong>
            <strong ng-if="!deck.hand.fresh">New Hand</strong>
          </button>

        </div>
      </div>
    </div>
  </div>
  <!-- test section -->
  <p>Deck Test: {{ deck.cards.length }} cards</p>
  <p>Hand Test: {{ deck.hand.length }} cards</p>
</div>
<!-- Playing Cards thanks to Byron Knoll: http://code.google.com/p/vector-playing-cards/ -->